[Unit]
Description=Kubernetes Kubelet
Documentation=https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/var/lib/kubelet
ExecStart=/usr/local/bin/kubelet \
  --bootstrap-kubeconfig=/etc/kubernetes/kubelet-bootstrap.kubeconfig \
  --cert-dir=/etc/kubernetes/pki \
  --config=/etc/kubernetes/kubelet.config.yaml \
  --kubeconfig=/etc/kubernetes/kubelet.kubeconfig \
  --log-dir=/var/log/kubernetes \
  --network-plugin=cni \
  --pod-infra-container-image=wangzan18/pause-amd64:3.1

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
