[Unit]
Description=Kubernetes API Server
Documentation=https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/
After=network.target

[Service]
ExecStart=/usr/local/bin/kube-apiserver \
  --advertise-address={{NODE_IP}} \
  --allow-privileged=true \
  --anonymous-auth=false \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/kube-audit/kube-apiserver-audit.log \
  --audit-policy-file=/etc/kubernetes/audit-policy.yaml \
  --authorization-mode=Node,RBAC \
  --client-ca-file=/etc/kubernetes/pki/ca.pem \
  --enable-admission-plugins=NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota,PodSecurityPolicy \
  --enable-aggregator-routing=true \
  --enable-bootstrap-token-auth=true \
  --encryption-provider-config=/etc/kubernetes/encryption-config.yaml \
  --etcd-cafile=/etc/kubernetes/pki/ca.pem \
  --etcd-certfile=/etc/kubernetes/pki/apiserver-etcd.pem \
  --etcd-keyfile=/etc/kubernetes/pki/apiserver-etcd-key.pem \
  --etcd-servers=https://{{ETCD_1_IP}}:2379,https://{{ETCD_2_IP}}:2379,https://{{ETCD_3_IP}}:2379 \
  --kubelet-certificate-authority=/etc/kubernetes/pki/ca.pem \
  --kubelet-client-certificate=/etc/kubernetes/pki/apiserver-kubelet-client.pem \
  --kubelet-client-key=/etc/kubernetes/pki/apiserver-kubelet-client-key.pem \
  --kubelet-https=true \
  --kubelet-timeout=10s \
  --kubelet-preferred-address-types=InternalIP,InternalDNS \
  --logtostderr=true \
  --log-dir=/var/log/kubernetes \
  --proxy-client-cert-file=/etc/kubernetes/pki/front-proxy-client.pem \
  --proxy-client-key-file=/etc/kubernetes/pki/front-proxy-client-key.pem \
  --requestheader-allowed-names="aggregator" \  
  --requestheader-client-ca-file=/etc/kubernetes/pki/front-proxy-ca.pem \
  --requestheader-extra-headers-prefix=X-Remote-Extra- \
  --requestheader-group-headers=X-Remote-Group \
  --requestheader-username-headers=X-Remote-User \
  --runtime-config=api/all=true \
  --secure-port=6443 \
  --service-account-key-file=/etc/kubernetes/pki/sa.pem \
  --service-cluster-ip-range={{SERVICE_CIDR}} \
  --service-node-port-range={{NODE_PORT_RANGE}} \
  --tls-cert-file=/etc/kubernetes/pki/apiserver.pem \
  --tls-private-key-file=/etc/kubernetes/pki/apiserver-key.pem

Restart=on-failure
RestartSec=5
Type=notify
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
