 --address="0.0.0.0"
 --algorithm-provider=""
 --alsologtostderr="false"
 --authentication-kubeconfig=""
 --authentication-skip-lookup="false"
 --authentication-token-webhook-cache-ttl="10s"
 --authentication-tolerate-lookup-failure="true"
 --authorization-always-allow-paths="[/healthz]"
 --authorization-kubeconfig=""
 --authorization-webhook-cache-authorized-ttl="10s"
 --authorization-webhook-cache-unauthorized-ttl="10s"
 --bind-address="0.0.0.0"
 --cert-dir=""
 --client-ca-file=""
 --config=""
 --contention-profiling="false"
 --failure-domains="kubernetes.io/hostname,failure-domain.beta.kubernetes.io/zone,failure-domain.beta.kubernetes.io/region"
 --feature-gates=""
 --hard-pod-affinity-symmetric-weight="1"
 --help="false"
 --http2-max-streams-per-connection="0"
 --kube-api-burst="100"
 --kube-api-content-type="application/vnd.kubernetes.protobuf"
 --kube-api-qps="50"
 --kubeconfig="/etc/kubernetes/scheduler.conf"
 --leader-elect="true"
 --leader-elect-lease-duration="15s"
 --leader-elect-renew-deadline="10s"
 --leader-elect-resource-lock="endpoints"
 --leader-elect-retry-period="2s"
 --lock-object-name="kube-scheduler"
 --lock-object-namespace="kube-system"
 --log-backtrace-at="
 --log-dir=""
 --log-file=""
 --log-flush-frequency="5s"
 --logtostderr="true"
 --master=""
 --policy-config-file=""
 --policy-configmap=""
 --policy-configmap-namespace="kube-system"
 --port="10251"
 --profiling="false"
 --requestheader-allowed-names="[]"
 --requestheader-client-ca-file=""
 --requestheader-extra-headers-prefix="[x-remote-extra-]"
 --requestheader-group-headers="[x-remote-group]"
 --requestheader-username-headers="[x-remote-user]"
 --scheduler-name="default-scheduler"
 --secure-port="10259"
 --skip-headers="false"
 --stderrthreshold="2"
 --tls-cert-file=""
 --tls-cipher-suites="[]"
 --tls-min-version=""
 --tls-private-key-file=""
 --tls-sni-cert-key="[]"
 --use-legacy-policy-config="false"
 --v="2"
 --version="false"
 --vmodule=""
 --write-config-to=""
