 --address="127.0.0.1"
 --allocate-node-cidrs="false"
 --allow-untagged-cloud="false"
 --alsologtostderr="false"
 --attach-detach-reconcile-sync-period="1m0s"
 --authentication-kubeconfig=""
 --authentication-skip-lookup="false"
 --authentication-token-webhook-cache-ttl="10s"
 --authentication-tolerate-lookup-failure="false"
 --authorization-always-allow-paths="[/healthz]"
 --authorization-kubeconfig=""
 --authorization-webhook-cache-authorized-ttl="10s"
 --authorization-webhook-cache-unauthorized-ttl="10s"
 --bind-address="0.0.0.0"
 --cert-dir=""
 --cidr-allocator-type="RangeAllocator"
 --client-ca-file=""
 --cloud-config="/var/lib/kubernetes/aws.config"
 --cloud-provider="aws"
 --cloud-provider-gce-lb-src-cidrs="130.211.0.0/22,209.85.152.0/22,209.85.204.0/22,35.191.0.0/16"
 --cluster-cidr="10.200.0.0/16"
 --cluster-name="kubernetes"
 --cluster-signing-cert-file="/etc/kubernetes/ca/ca.pem"
 --cluster-signing-key-file="/etc/kubernetes/ca/ca.key"
 --concurrent-deployment-syncs="5"
 --concurrent-endpoint-syncs="5"
 --concurrent-gc-syncs="20"
 --concurrent-namespace-syncs="10"
 --concurrent-replicaset-syncs="5"
 --concurrent-resource-quota-syncs="5"
 --concurrent-service-syncs="1"
 --concurrent-serviceaccount-token-syncs="5"
 --concurrent-ttl-after-finished-syncs="5"
 --concurrent_rc_syncs="5"
 --configure-cloud-routes="true"
 --contention-profiling="false"
 --controller-start-interval="0s"
 --controllers="[*,-csrsigning]"
 --deleting-pods-burst="0"
 --deleting-pods-qps="0.1"
 --deployment-controller-sync-period="30s"
 --disable-attach-detach-reconcile-sync="false"
 --enable-dynamic-provisioning="true"
 --enable-garbage-collector="true"
 --enable-hostpath-provisioner="false"
 --enable-taint-manager="true"
 --experimental-cluster-signing-duration="8760h0m0s"
 --external-cloud-volume-plugin=""
 --feature-gates="RotateKubeletServerCertificate=true"
 --flex-volume-plugin-dir="/usr/libexec/kubernetes/kubelet-plugins/volume/exec/"
 --help="false"
 --horizontal-pod-autoscaler-cpu-initialization-period="5m0s"
 --horizontal-pod-autoscaler-downscale-delay="5m0s"
 --horizontal-pod-autoscaler-downscale-stabilization="5m0s"
 --horizontal-pod-autoscaler-initial-readiness-delay="30s"
 --horizontal-pod-autoscaler-sync-period="15s"
 --horizontal-pod-autoscaler-tolerance="0.1"
 --horizontal-pod-autoscaler-upscale-delay="3m0s"
 --horizontal-pod-autoscaler-use-rest-clients="true"
 --http2-max-streams-per-connection="0"
 --kube-api-burst="30"
 --kube-api-content-type="application/vnd.kubernetes.protobuf"
 --kube-api-qps="20"
 --kubeconfig="/etc/kubernetes/controller-manager.conf"
 --large-cluster-size-threshold="50"
 --leader-elect="true"
 --leader-elect-lease-duration="15s"
 --leader-elect-renew-deadline="10s"
 --leader-elect-resource-lock="endpoints"
 --leader-elect-retry-period="2s"
 --log-backtrace-at="
 --log-dir=""
 --log-file=""
 --log-flush-frequency="5s"
 --logtostderr="true"
 --master=""
 --min-resync-period="12h0m0s"
 --namespace-sync-period="5m0s"
 --node-cidr-mask-size="24"
 --node-eviction-rate="0.1"
 --node-monitor-grace-period="40s"
 --node-monitor-period="5s"
 --node-startup-grace-period="1m0s"
 --node-sync-period="0s"
 --pod-eviction-timeout="5m0s"
 --port="10252"
 --profiling="false"
 --pv-recycler-increment-timeout-nfs="30"
 --pv-recycler-minimum-timeout-hostpath="60"
 --pv-recycler-minimum-timeout-nfs="300"
 --pv-recycler-pod-template-filepath-hostpath=""
 --pv-recycler-pod-template-filepath-nfs=""
 --pv-recycler-timeout-increment-hostpath="30"
 --pvclaimbinder-sync-period="15s"
 --register-retry-count="10"
 --requestheader-allowed-names="[]"
 --requestheader-client-ca-file=""
 --requestheader-extra-headers-prefix="[x-remote-extra-]"
 --requestheader-group-headers="[x-remote-group]"
 --requestheader-username-headers="[x-remote-user]"
 --resource-quota-sync-period="5m0s"
 --root-ca-file="/etc/kubernetes/pki/ca.crt"
 --route-reconciliation-period="10s"
 --secondary-node-eviction-rate="0.01"
 --secure-port="10257"
 --service-account-private-key-file="/etc/kubernetes/pki/sa.key"
 --service-cluster-ip-range="10.100.0.0/16"
 --skip-headers="false"
 --stderrthreshold="2"
 --terminated-pod-gc-threshold="12500"
 --tls-cert-file=""
 --tls-cipher-suites="[]"
 --tls-min-version=""
 --tls-private-key-file=""
 --tls-sni-cert-key="[]"
 --unhealthy-zone-threshold="0.55"
 --use-service-account-credentials="true"
 --v="2"
 --version="false"
 --vmodule=""
