 --address="0.0.0.0"
 --admission-control="[]"
 --admission-control-config-file=""
 --advertise-address="172.18.2.151"
 --allow-privileged="true"
 --alsologtostderr="false"
 --anonymous-auth="true"
 --api-audiences="[https
 --apiserver-count="1"
 --audit-dynamic-configuration="false"
 --audit-log-batch-buffer-size="10000"
 --audit-log-batch-max-size="1"
 --audit-log-batch-max-wait="0s"
 --audit-log-batch-throttle-burst="0"
 --audit-log-batch-throttle-enable="false"
 --audit-log-batch-throttle-qps="0"
 --audit-log-format="json"
 --audit-log-maxage="0"
 --audit-log-maxbackup="1"
 --audit-log-maxsize="500"
 --audit-log-mode="blocking"
 --audit-log-path="/var/log/kube-audit/kube-apiserver-audit.log"
 --audit-log-truncate-enabled="false"
 --audit-log-truncate-max-batch-size="10485760"
 --audit-log-truncate-max-event-size="102400"
 --audit-log-version="audit.k8s.io/v1"
 --audit-policy-file="/etc/audit_policy.config"
 --audit-webhook-batch-buffer-size="10000"
 --audit-webhook-batch-initial-backoff="10s"
 --audit-webhook-batch-max-size="400"
 --audit-webhook-batch-max-wait="30s"
 --audit-webhook-batch-throttle-burst="15"
 --audit-webhook-batch-throttle-enable="true"
 --audit-webhook-batch-throttle-qps="10"
 --audit-webhook-config-file=""
 --audit-webhook-initial-backoff="10s"
 --audit-webhook-mode="batch"
 --audit-webhook-truncate-enabled="false"
 --audit-webhook-truncate-max-batch-size="10485760"
 --audit-webhook-truncate-max-event-size="102400"
 --audit-webhook-version="audit.k8s.io/v1"
 --authentication-token-webhook-cache-ttl="7m0s"
 --authentication-token-webhook-config-file="/etc/kubernetes/authenticator/apiserver-webhook-kubeconfig.yaml"
 --authorization-mode="[Node,RBAC]"
 --authorization-policy-file=""
 --authorization-webhook-cache-authorized-ttl="5m0s"
 --authorization-webhook-cache-unauthorized-ttl="30s"
 --authorization-webhook-config-file=""
 --basic-auth-file=""
 --bind-address="0.0.0.0"
 --cert-dir="/var/run/kubernetes"
 --client-ca-file="/etc/kubernetes/pki/internal-auth/ca.crt"
 --cloud-config="/var/lib/kubernetes/aws.config"
 --cloud-provider="aws"
 --cloud-provider-gce-lb-src-cidrs="130.211.0.0/22,209.85.152.0/22,209.85.204.0/22,35.191.0.0/16"
 --contention-profiling="false"
 --cors-allowed-origins="[]"
 --default-not-ready-toleration-seconds="300"
 --default-unreachable-toleration-seconds="300"
 --default-watch-cache-size="100"
 --delete-collection-workers="1"
 --deserialization-cache-size="0"
 --disable-admission-plugins="[]"
 --enable-admission-plugins="[NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota,DefaultTolerationSeconds,NodeRestriction,PodSecurityPolicy]"
 --enable-aggregator-routing="true"
 --enable-bootstrap-token-auth="false"
 --enable-garbage-collector="true"
 --enable-logs-handler="false"
 --enable-swagger-ui="false"
 --encryption-provider-config=""
 --endpoint-reconciler-type="lease"
 --etcd-cafile=""
 --etcd-certfile=""
 --etcd-compaction-interval="5m0s"
 --etcd-count-metric-poll-period="1m0s"
 --etcd-keyfile=""
 --etcd-prefix="/registry"
 --etcd-servers="[http
 --etcd-servers-overrides="[]"
 --event-ttl="1h0m0s"
 --experimental-encryption-provider-config=""
 --external-hostname="ip-10-0-99-5.ec2.internal"
 --feature-gates="ExternalKeyService=true"
 --help="false"
 --http2-max-streams-per-connection="0"
 --insecure-bind-address="0.0.0.0"
 --insecure-port="8080"
 --key-service-url="/etc/kubernetes/key-server/pipe.sock"
 --kubelet-certificate-authority="/etc/kubernetes/pki/ca.crt"
 --kubelet-client-certificate="/etc/kubernetes/pki/apiserver-kubelet-client.crt"
 --kubelet-client-key="/etc/kubernetes/pki/apiserver-kubelet-client.key"
 --kubelet-https="true"
 --kubelet-port="10250"
 --kubelet-preferred-address-types="[InternalIP,InternalDNS]"
 --kubelet-read-only-port="10255"
 --kubelet-timeout="5s"
 --kubernetes-service-node-port="0"
 --log-backtrace-at="
 --log-dir=""
 --log-file=""
 --log-flush-frequency="5s"
 --logtostderr="true"
 --master-service-namespace="default"
 --max-connection-bytes-per-sec="0"
 --max-mutating-requests-inflight="200"
 --max-requests-inflight="400"
 --min-request-timeout="1800"
 --oidc-ca-file=""
 --oidc-client-id=""
 --oidc-groups-claim=""
 --oidc-groups-prefix=""
 --oidc-issuer-url=""
 --oidc-required-claim=""
 --oidc-signing-algs="[RS256]"
 --oidc-username-claim="sub"
 --oidc-username-prefix=""
 --port="8080"
 --profiling="true"
 --proxy-cidr-whitelist="172.18.0.0/16"
 --proxy-client-cert-file="/etc/kubernetes/pki/front-proxy-client.crt"
 --proxy-client-key-file="/etc/kubernetes/pki/front-proxy-client.key"
 --request-timeout="1m0s"
 --requestheader-allowed-names="[front-proxy-client]"
 --requestheader-client-ca-file="/etc/kubernetes/pki/front-proxy-ca.crt"
 --requestheader-extra-headers-prefix="[X-Remote-Extra-]"
 --requestheader-group-headers="[X-Remote-Group]"
 --requestheader-username-headers="[X-Remote-User]"
 --runtime-config="extensions/v1beta1/networkpolicies=true"
 --secure-port="443"
 --service-account-api-audiences="[https
 --service-account-issuer="https
 --service-account-key-file="[/etc/kubernetes/pki/sa.pub]"
 --service-account-lookup="true"
 --service-account-max-token-expiration="24h0m0s"
 --service-account-signing-key-file=""
 --service-cluster-ip-range="10.100.0.0/16"
 --service-node-port-range="30000-32767"
 --skip-headers="false"
 --ssh-keyfile=""
 --ssh-user=""
 --stderrthreshold="2"
 --storage-backend=""
 --storage-media-type="application/vnd.kubernetes.protobuf"
 --target-ram-mb="0"
 --tls-cert-file="/etc/kubernetes/pki/apiserver.crt"
 --tls-cipher-suites="[TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256]"
 --tls-min-version=""
 --tls-private-key-file="/etc/kubernetes/pki/apiserver.key"
 --tls-sni-cert-key="[]"
 --token-auth-file="/dev/null"
 --v="2"
 --version="false"
 --vmodule=""
 --watch-cache="true"
 --watch-cache-sizes="[]"
